<div *ngIf="forecastData.length" class="container my-5">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Temp</th>
        <th scope="col">Sea Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forecast of forecastData">
        <th>{{ forecast.date | date: "MMM d, y" }}</th>
        <td>{{ (forecast.temp - 273.15).toFixed(2) }} &#8451;</td>
        <td>{{ forecast.sea_level }}</td>
      </tr>
    </tbody>
  </table>
</div>
