<div class="card">
  <img
    [style.height]="'350px'"
    class="card-img-top"
    [src]="city.pictureSrc"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ city.name }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Temprature: </strong> {{ city.temp }}&#8451;
      </li>
      <li class="list-group-item">
        <strong>Sunrise: </strong>
        {{ city.sunrise * 1000 | date: "h:mm:ss a z" }}
      </li>
      <li class="list-group-item">
        <strong>Sunset: </strong> {{ city.sunset * 1000 | date: "h:mm:ss a z" }}
      </li>
    </ul>
    <a routerLink="/forecast/{{ city.name }}" class="btn btn-primary"
      >View Forecast Details</a
    >
  </div>
</div>
